In [22]:
import pandas as pd
import numpy as np
train =pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train['Sex'] = train['Sex'].replace(['female','male'], [0,1])

test['Sex'] = test['Sex'].replace(['female', 'male'], [0,1])

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 83.7+ KB

In [23]:
train_age_median = train['Age'].median()

test_age_median = test['Age'].median()

train['Age'].fillna(train_age_median, inplace=True)

test['Age'].fillna(test_age_median, inplace=True)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 83.7+ KB

In [24]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
train['Name'] = encoder.fit_transform(train['Name'])

test['Name'] = encoder.fit_transform(test['Name'])

train['Name'].dtypes
test['Name'].dtypes

dtype('int32')

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int32
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int32(1), int64(6), object(3)
memory usage: 80.2+ KB

In [7]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,108,1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,190,0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,353,0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,272,0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,15,1,35.0,0,0,373450,8.0500,NaN,S

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int32
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int32(1), int64(6), object(3)
memory usage: 80.2+ KB

In [25]:
train['Embarked'] = train['Embarked'].replace(['C', 'Q', 'S'], [1,2,3])

test['Embarked'] = train['Embarked'].replace(['C', 'Q', 'S'], [1,2,3])

In [10]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name             int32
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked       float64
dtype: object

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int32
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    float64
dtypes: float64(3), int32(1), int64(6), object(2)
memory usage: 80.2+ KB

In [31]:
#train = train.drop('Ticket', axis=1)
train = train.drop('Cabin', axis=1)

#test = test.drop('Ticket', axis=1)
test = test.drop('Cabin', axis=1)

In [13]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name             int32
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Cabin           object
Embarked       float64
dtype: object

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int32
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    float64
dtypes: float64(3), int32(1), int64(6), object(1)
memory usage: 73.2+ KB

In [27]:
embarked_train_median = train['Embarked'].median()
train['Embarked'].fillna(embarked_train_median, inplace=True)

embarked_test_median = test['Embarked'].median()
test['Embarked'].fillna(embarked_test_median, inplace=True)

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int32
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     891 non-null    float64
dtypes: float64(3), int32(1), int64(6), object(1)
memory usage: 73.2+ KB

In [32]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    int32
 3   Sex          418 non-null    int64
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Fare         417 non-null    float64
 8   Embarked     418 non-null    float64
dtypes: float64(3), int32(1), int64(5)
memory usage: 27.9 KB

In [34]:
x_train = train[['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y_train = train['Survived']

x_test = train[['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked',]]

In [18]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=25)
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=25)

In [19]:
model.score(x_train, y_train)

0.9943883277216611

In [35]:
test.head()

   PassengerId  Pclass  Name  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3   206    1  34.5      0      0   7.8292       3.0
1          893       3   403    0  47.0      1      0   7.0000       1.0
2          894       2   269    1  62.0      0      0   9.6875       3.0
3          895       3   408    1  27.0      0      0   8.6625       3.0
4          896       3   178    0  22.0      1      1  12.2875       3.0

In [36]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    int32
 3   Sex          418 non-null    int64
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Fare         417 non-null    float64
 8   Embarked     418 non-null    float64
dtypes: float64(3), int32(1), int64(5)
memory usage: 27.9 KB

In [37]:
model.fit(x_test, y_train)
model.score(x_test, y_train)

0.9932659932659933